# Mengenal OOP

In [3]:
# Semua type data di python adalah class / object
print(type([]))
print(type({}))
print(type('string'))
print(type(90)) 
print(type(15.232))
print(type(()))
print(type(True))
print(type(None))

<class 'list'>
<class 'dict'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'bool'>
<class 'NoneType'>

### OOP memungkinkan kita membuat class sendiri, termasuk attribute dan method nya

## Mendefinisikan Class / Object

In [9]:
class Nama:
    pass

In [99]:
#self,nama,pengguna adalah attribute
#self adalah representasi dari barang 1 / variable yang memuat kelas game
class Game:
    
    #class object attribute (attribute ini bersifat global)
    pengembang = 'Moonton'
    
    def __init__(self, nama, pengguna):
        self.nama = nama
        self.pengguna = pengguna
        #bisa menambah attribute
        self.server = ['Asia', 'Amerika']
        self.ukuran = 10
    
    #tempat tidak menggunakan self karena sudah dalam 1 scope yang sama
    #bisa di tuliskan langsung default value nya
    def keterangan(self, tempat = 'London'):
        print('Game moba {} dengan jumlah pengguna {}, di kembangkan oleh perusahaan {} yang bertempat di {}'.format(self.nama, self.pengguna, self.pengembang, tempat))

In [100]:
barang1 = Game('Clash Of Clans','10M')

In [101]:
barang1.pengguna

'10M'

In [102]:
barang = Game('Mobile Legends','1b')

In [103]:
barang.server

['Asia', 'Amerika']

In [104]:
barang.ukuran

10

In [105]:
barang.pengembang

'Moonton'

In [106]:
#menjalankan method selain init dengan menggunakan attribute 
barang.keterangan()

Game moba Mobile Legends dengan jumlah pengguna 1b, di kembangkan oleh perusahaan Moonton yang bertempat di London