### For Loops

#### digunakan untuk mengiterasi objek
#### hampir semua objek bisa di iterasi di python

In [4]:
for g in 'kamu makannya apa?': #iterasi string
    print(g, end=' ') #mengganti akhir baris iterasi menjadi space

k a m u   m a k a n n y a   a p a ?

In [10]:
angka = [1,2,3,4,5,6,7,8,9,10]

In [12]:
for s in angka:
    print(s)

1
2
3
4
5
6
7
8
9
10

In [17]:
jumlah = 0

In [18]:
for s in angka :
    jumlah = jumlah + s
    print('Hasil penjumlahan pada iterator ke-{} adalah {} '. format(s,jumlah))

Hasil penjumlahan pada iterator ke-1 adalah 1
Hasil penjumlahan pada iterator ke-2 adalah 3
Hasil penjumlahan pada iterator ke-3 adalah 6
Hasil penjumlahan pada iterator ke-4 adalah 10
Hasil penjumlahan pada iterator ke-5 adalah 15
Hasil penjumlahan pada iterator ke-6 adalah 21
Hasil penjumlahan pada iterator ke-7 adalah 28
Hasil penjumlahan pada iterator ke-8 adalah 36
Hasil penjumlahan pada iterator ke-9 adalah 45
Hasil penjumlahan pada iterator ke-10 adalah 55

### Penggunaan for loop dan conditionals

In [34]:
jumlah = 0
for item in 'anda adalah sesuatu yang saya suka':
    jumlah += 1
    if (item == 'a'):
        print('anda berada di a ', jumlah)

anda berada di a  1
anda berada di a  4
anda berada di a  6
anda berada di a  8
anda berada di a  10
anda berada di a  17
anda berada di a  22
anda berada di a  27
anda berada di a  29
anda berada di a  34

### Tantangan 
#### lakukan iterasi angka = [1,2,3,4,5,6,7,8,9,10]
#### untuk menentukan ganjil dan genap

In [35]:
jumlah = 0

In [36]:
angka2 = [1,2,3,4,5,6,7,8,9,10]

In [46]:
for i in angka2:
    if (i % 2 == 0):
        print('Angka',i,'Adalah Genap'.format(i)) #menjeda dengan koma karena bukan string
    else :
        print('Angka '+str(i)+' Adalah Ganjil'.format(i)) #diformat kedalam string harus ada spasi

Angka 1 Adalah Ganjil
Angka 2 Adalah Genap
Angka 3 Adalah Ganjil
Angka 4 Adalah Genap
Angka 5 Adalah Ganjil
Angka 6 Adalah Genap
Angka 7 Adalah Ganjil
Angka 8 Adalah Genap
Angka 9 Adalah Ganjil
Angka 10 Adalah Genap

### for loops didalam tuple dan list yang berbeda tipe data

In [48]:
tuple1 = (1,2,3,4,5,6,7,8,9,10)

In [50]:
for item in tuple1:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [51]:
list1 = ['ini', 2, 9.5]

In [52]:
for item in list1:
    print(item)

ini
2
9.5

In [54]:
#bisa memecah tuple 
tuple2 = ((1,2),(3,4),(5,6))

In [59]:
for a,b in tuple2: #di misalkan a,b adalah item yang ada didalam index ke (0,1,2) di tuple
    print(a,b)

1 2
3 4
5 6

In [62]:
list2 = [['a', 1, 1.5],['b', 2, 2.5],['c', 3, 3.5]]

In [66]:
for a,b,c in list2: #a,b,c harus sama dengan indek di list
    print(c) #bisa dipanggil terserah a,b,c

1.5
2.5
3.5