## Perbedaan Numpy Array dan Pandas Series

In [3]:
import numpy as np
import pandas as pd

In [4]:
label = ['satu','dua','tiga']

In [5]:
angka = [50,60,70]

In [6]:
np_angka = np.array(angka)

In [7]:
np_angka

array([50, 60, 70])

In [9]:
d = {'satu':10,'dua':20,'tiga':30}

In [14]:
#membuat series dari nol
#bedanya ada index nya 
#index nya bisa di ubah
dataku = pd.Series(data=angka, index=label)

In [15]:
dataku

satu    50
dua     60
tiga    70
dtype: int64

In [16]:
dataku['satu']

50

In [18]:
np_angka[0]

50

In [19]:
pd.Series(d) #bisa lewat dictionary

satu    10
dua     20
tiga    30
dtype: int64

In [20]:
pd.Series(np_angka) #lewat array 
#bedanya hanya di ukuran int nya

0    50
1    60
2    70
dtype: int32

In [21]:
#mengubah data series ke data frame
data_frame = dataku.to_frame()

In [22]:
data_frame

       0
satu  50
dua   60
tiga  70

In [23]:
d2 = {'satu':10,'dua':20,'tiga':30,'empat':40,'lima':50}

In [24]:
dataku = pd.Series(d)

In [25]:
dataku2 = pd.Series(d2)

In [29]:
#index yang sama akan di jumlahkan
#index yang tidak sama akan berubah menjadi NaN
#hasil penjumlahan nya akan otomatis berubah ke float
dataku + dataku2

dua      40.0
empat     NaN
lima      NaN
satu     20.0
tiga     60.0
dtype: float64